html {
  overflow-y: scroll;
}
/* Primary color for headers and important buttons */
.custom-card-title {
  background-color: #0056b3; /* Strong, confident blue */
  color: white; /* For text on primary color background */
}

/* General background color */
body,
.page-background {
    background-color: #f4f4f4; /* Light grey */
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Typography styles */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
.navbar-brand,
.lead,
[class*="display-"] {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Button styles */

.btn {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Gift card components */

/* Text color */
.card-title,
.card-text {
  color: #333333; /* Darker grey */
}

/* Subtle accent color */
.text-muted {
  color: #6c757d; /* Muted grey */
}

/* Success color for messages or confirmation */
.text-success,
.btn-success {
  color: #28a745; /* Fresh green */
}

.product-card {
  margin: 1rem 0; /* Adds space above and below each card */
  border-radius: 10px; /* Rounded corners for card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  overflow: hidden; /* Ensures nothing spills out of the card's rounded corners */
}

.image-placeholder {
  width: 100%;
  height: 200px; /* Fixed height, adjust as needed */
  position: relative; /* Set a reference for absolute positioned children */
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.image-placeholder img {
  position: absolute; /* Position it over the placeholder */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the area without stretching */
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.no-image-available {
  width: 100%;
  height: 200px; /* Adjust based on your design */
  background-color: #ddd; /* A neutral background color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #666;
  text-transform: uppercase;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.date-added {
  margin-top: auto; /* Pushes everything else to the top, and this to the bottom */
}

.card-footer {
  padding: 0;
  border-top: none;
}

/* Highlight condition and age with color */
.list-group-item-success {
  color: #28a745; /* Green text color for new items */
}

.list-group-item-warning {
  color: #ffc107; /* Yellow text color for older items */
}

/* Navigation customization */

/* Customize the navbar brand and links */
.nav-link {
  font-size: 1.2rem; /* Increase font size */
  font-weight: bold;
}

/* Change the background color of the navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
}

/* Highlight the active nav link */
.nav-link.active {
  color: #6f6bae; /* A distinct color for the active page */
  text-decoration: underline; /* Underlines the active link */
  font-weight: bold; /* Makes the active link bold */
}
