/* Task 1: Style the body */
body {
    font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
}

/* Task 3: Style the content area */
.content { z-index: -1; }
.blur-behind {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px); /* for Safari */
    background-color: rgba(255, 255, 255, 0.5); /* optional: semi-transparent background */
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Typography styles */
h1, 
h2,
.lead,
[class*="display-"] {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.btn {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Noto sans styling template */
/* .noto-sans-<uniquifier> {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
} */